/* =========================================
   CONTEÚDO PRINCIPAL (MAIN / CAROUSEL)
   ========================================= */
main {
    margin: 0 1rem;
}

main .carousel {
    position: relative;
    overflow: hidden;
}

main .carousel .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    scrollbar-width: none;
    border-radius: 1rem;
}

main .carousel .carousel-container::-webkit-scrollbar {
    display: none;
}

main .carousel .carousel-container .carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    overflow: hidden;
    border-radius: 1rem;
}

main .carousel .carousel-container .carousel-slide img {
    width: 100%;
    object-fit: cover;
}

main .carousel .indicators {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: .5rem;
}

main .carousel .indicators .indicator {
    width: .5rem;
    height: .5rem;
    background-color: var(--gray-200);
    border-radius: 50%;
}

main .carousel .indicators .indicator.active {
    background-color: var(--white);
    width: 2.5rem;
    border-radius: .25rem;
}

/* =========================================
   MEDIA QUERY - TABLETS E DESKTOPS
   ========================================= */
@media (min-width: 768px) {
    main {
        margin: 0 5%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    main .carousel .indicators {
        bottom: 1rem;
        gap: .5rem;
    }

    main .carousel .carousel-container .carousel-slide img {
        height: 28rem;
    }
}