/* Ações Rápidas */
.fast-access .actions-container-section {
    display: flex;
    gap: 1rem;
}

.fast-access .actions-container-section .card-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.fast-access .actions-container-section .card-icon .img-container {
    background-color: var(--gray-100);
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fast-access .actions-container-section .card-icon .img-container img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.fast-access .actions-container-section .text-card-icon {
    font-size: 0.625rem;
    font-weight: 700;
}

/* Recém Adicionados */
.recently-added .actions-container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.recently-added .actions-container-section .card-item {
    border: 1px solid var(--gray-300);
    border-radius: 0.75rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.recently-added .actions-container-section .card-item .info-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.recently-added .actions-container-section .card-item .info-container img {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.5rem;
    background-color: var(--gray-100);
}

.recently-added .actions-container-section .card-item .info-container .text-card-item {
    text-transform: capitalize;
    font-size: 0.875rem;
}

.recently-added .actions-container-section .card-item .btn-reserve-item {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
    font-size: 0.75rem;
    font-weight: 700;
}

.recently-added .actions-container-section .card-item .btn-reserve-item:hover {
    background-color: var(--hover-primary-color);
}

/* =========================================
   MEDIA QUERY - TABLETS E DESKTOPS
   ========================================= */
@media (min-width: 768px) {
    .fast-access .actions-container-section .card-icon {
        flex: 0 1 6.625rem;
    }

    .fast-access .actions-container-section .text-card-icon {
        font-size: 0.75rem;
        font-weight: 600;
    }

    .recently-added .actions-container-section {
        grid-template-columns: repeat(6, 1fr);
        gap: 1.5rem;
    }

    .recently-added .actions-container-section .card-item .info-container img {
        border-radius: 0.75rem;
    }

    .recently-added .actions-container-section .card-item .info-container .text-card-item {
        font-size: 1rem;
    }

    .recently-added .actions-container-section .card-item .btn-reserve-item {
        padding: 0.75rem;
        font-size: 0.875rem;
    }
}